<header>
  <div class="header-content">

      <a class="Logo" (click)="goToHome()">Century</a>

      <div class="menu-middle-container">
          <ul class="main-menu-middle">
              <li> <a class="main_menu" (click)="goToHome()">home</a> </li>
              <li> <a class="main_menu" (click)="goToShop()">shop</a> </li>
          </ul>
      </div>

      <div class="menu-right-container">
          <ul class="main-menu-right">
              <li> <a class="user-details-container" (click)="goToLogin()"> Sign in </a> </li>
              <li> <a (click)="goToPurchases()"> Purchases </a> </li>
          </ul>
      </div>
  </div>

</header>
